@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helper */
.seat {
  @apply w-8 h-8 flex items-center justify-center rounded-sm cursor-pointer select-none;
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
